#motivationTextArea {
    display: inline-block;
    width: 70%;
    margin: 10px;
}

#confirmationRequestDiv {

}

#confirmFormBtn {

}

#editFormBtn {

}

#submissionConfirmed {
    
}

#incompleteForm{

}